* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}
body {
	font-size: 14px;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
}
.wrap {
	width: 100%;
	margin: 0;
	padding: 0;
}
.container {
	width: 1200px;
	margin: 0;
	padding: 0;
}
.default {
	display: flex;
	flex-wrap: wrap;
}
.dashed-box {
	border: 1px dashed #999;
	padding: 3px;
}
#b1-section {
	&:before {
		content: 'Q';
	}
}
#b2-section {
	&:before {
		content: 'W';
	}
}
#b3-section {
	&:before {
		content: 'E';
	}
}
#b37-section {
	&:before {
		content: 'R';
	}
}
#button-section {
	&:before {
		content: 'B';
	}
}
#h1p-section {
	&:before {
		content: 'y';
	}
}
#image-section {
	&:before {
		content: 'I';
	}
}
#text-section {
	&:before {
		content: 'o';
	}
}
.color-item-hover {
	color: #bbbbbb;
	&:hover {
		color: #35d7bb;
	}
}
.bg-item {
	background-color: #373d49;
}
.image-section {
	img {
		object-fit: contain;
	}
}

*[data-draggable] {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 10px;
	}
	&:first-child {
		margin-top: 10px;
	}
}
.b1-section {
	width: 100%;
	min-height: 200px;
	padding: 5px!important;
}
.b2-section {
	width: calc((100% - 5px)/2);
	float: left;
	padding: 5px!important;
	min-height: 200px;
	&:nth-child(2n+2){
		margin-left: 5px;
	}
}
tr {
	td {
		img {
			margin: auto;
			object-fit: contain;
		}
	}
}

.b3-section {
	width: calc((100% - 10px)/3);
	float: left;
	padding: 5px!important;
	min-height: 200px;
	&:nth-child(3n+2){
		margin-right: 5px;
		margin-left: 5px;
	}
}
.b37-section {
	min-height: 200px;
	&:first-child {
		width: 33%;
		float: left;
	}
	&:last-child {
		width: 66%;
		float: right;
		margin-left: 1%;
	}
}
.button-section {
	.button {
		background: #6bc5a4;
		width: 100%;
		border-radius: 5px;
		text-align: center;
		padding: 5px 10px;
	}
	a {
		color: #fff;
		padding: 5px 10px;
		font-size: 16px;
		
	}
}
#append-content {
	min-height: 100%;
}
.selected-item {
	outline: 2px solid #3b97e3 !important;
    outline-offset: -3px;
    position: relative;
}
.remove-section {
	display: none;
	position: absolute;
    top: -20px;
    right: 0;
    padding: 2px 10px;
    background: #3b97e3;
    color: #fff;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
}
.design-mail {
	height: 100vh;
	.gjs-dashed {
		width: calc(100% - 280px);
		float: left;
		padding: 3px;
		min-height: 100vh;
		overflow: hidden;
		&__content {
			width: 100%;
			border: 2px solid #3b97e3;
			padding: 2px 20px;
			position: relative;
			min-height: 100%;
			.container-dashed {
				width: 700px;
				margin: 50px auto;
			}
			.action-pin {
				position: absolute;
				top: 0;
				right: 0;
				padding: 5px;
				background: #3b97e3;
				&__ul {
					&-li {
						display: inline-block;
						color: #fff;
						margin-right: 5px;
						cursor: pointer;
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	.gjs-blocks {
		width: 280px;
		float: right;
		background: #444;
		padding: 10px;
		height: 100%;
		&__content {
			height: 100%;
			.parent, .children {
				margin-top: 20px;
				&-title {
					text-transform: uppercase;
					font-weight: bold;
					color: #fff;
					margin-bottom: 10px;
				}
				&-item {
					.item-gird {
						width: calc((100% - 10px)/2);
						float: left;
						transition: all 0.6s;
						text-align: center;
						border: 2px solid rgba(0, 0, 0, 0.2);
						margin-bottom: 10px;
						cursor: pointer;
						height: 100px;
						&:nth-child(2n+2) {
							margin-left: 10px;
						}
					}
					.font-item {
						&:before {
							display: block;
						    font: normal normal normal 14px font3336;
						    text-rendering: auto;
						    -webkit-font-smoothing: antialiased;
						    -moz-osx-font-smoothing: grayscale;
						    font-size: 5em;
						}
					}
				}
			}
		}
	}
}